.content {
  background-color: black;
  display: flex;
}

.main {
  position: absolute;
  z-index: 1;
  background-color: #212121;
  right: 0;
  top: 0;
  width: 85%;
  height: 100%;
}
.sidebar {
  background-color: #2f2f2f;
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
}

.sidebar h1 {
  margin: 5% auto auto 5%;
}
.sidebar ul li {
  list-style: none;
  padding: 12px 15px;
  margin: 6px 0;
  font-size: 16px;
  color: #77c5bc;
  cursor: pointer;
  border-left: 3px solid transparent;
  transition: all 0.3s ease;
}

.sidebar ul li:hover {
  border-left: 3px solid #1a8e6d;
  background: rgba(102, 164, 147, 0);
  color: #38efc5;
  padding-left: 20px;
}

/* .index-list {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  list-style: none; 
  padding: 0;
  margin: 5% auto auto 5%;
} */

ul {
  display: flex;
  flex-direction: column;
}

li {
  cursor: pointer;
}

.sidebar ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.sidebar ul li a:hover {
  text-decoration: none;
  color: inherit;
}

.li-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.li-link:hover {
  text-decoration: none;
  color: inherit;
}


.li-link {
  display: block;        /* makes full li area clickable */
  padding: 10px 14px;    /* clickable padding */
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;        /* keeps your shiny-text color */
  cursor: pointer;
}