.content{
    background-color: black;
    display: flex;
}

.main {
  position: absolute;
   z-index: 1;
    background-color: #d88c8c;
    right: 0;   
    top: 0;
    width: 85%;
    height: 100%;
}
.sidebar{
    background-color: #313131; 
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;

}

.sidebar h1 {
    margin: 5% auto auto 5%;
}

/* .index-list {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  list-style: none; 
  padding: 0;
  margin: 5% auto auto 5%;
} */


.section{
    display: flex;
    padding: 20px;
    background-color: #343434;
    margin: 20px auto;
    height: calc(100% - 40px);
    width: 90%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
ul{
    display: flex;
    flex-direction: column;
}

li{
    cursor: pointer;    

}


