header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(19, 249, 234, 0.1);
  border-bottom: 1px solid rgb(19, 249, 234, 0.2);
  color: white;
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  box-sizing: border-box;
  backdrop-filter: blur(6px);
}

.name-tag {
  font-size: 2.2vw;
  font-weight: bold;
  padding: 1vw 2vw;
  border-radius: 2vw;
}



.cart-btn {
 position: fixed;
  right: 4%;
  width: 4vw;
  height: 4vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
    z-index: 1000;
}
.cart-btn img {
  filter: invert(1);
}
.cart-btn:hover img {
  filter: invert(0.5);
}
.cart-btn:active img {
  transform: scale(1.2);
  filter: brightness(2);
}

.user-btn {
  position: fixed;
  right: 2px;
  width: 4vw;
  height: 4vw;
  background-color: transparent;
  border: none;
    z-index: 1000;
  cursor: pointer;
}
.user-btn img {
  filter: invert(1);
}

.user-btn:hover img {
  filter: invert(0.5);
}
.user-btn:active img {
  transform: scale(1.2);
  filter: brightness(2);
}


