.main-section {
  
  justify-content: center;
  align-items: center;
    position:relative;
  border: 2px solid cyan;
  border-radius: 10px;
  padding: 20px;
  margin: 5% ;
  background: rgba(0, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0,255,255,0.2);
  height: 80vh;
  overflow: hidden;

}

.section-header {
  border-bottom: 1px solid cyan;
  margin-bottom: 10px;
}

.section-body {
  padding: 10px;
}
