.main-section {
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid cyan;
  border-radius: 10px;

  /* margin: ; */
  background: rgba(0, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
  height: 80vh;
  overflow: hidden;
  
}

.section-header {
  border-bottom: 1px solid cyan;
  margin: 0;
  z-index: 2;
}

.section-body {
  padding: 10px;
}

.section-button {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 8px 12px;
  border: 1px solid cyan;
  border-radius: 6px;
  background: rgba(0, 255, 255, 0.1);
  color: #00eaff;
  cursor: pointer;
  z-index: 2;
}

.main-section .section-button:nth-of-type(2) {
  left: 100px;
}
