.nav {
  position: absolute;
  right: 10%;
 
  width: 30%;
  height: 10vh;
  border-radius: 5vw;
  background-color: rgba(255, 255, 255, 0.307);
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 1vw;
  margin: 5vh;
  max-width: 600px;
  box-sizing: border-box;
}

.nav a {
  margin: 0.3vw 1vw;
  color: #00eaff;
  font-size: 1.5vw;
  text-decoration: none;
}