.background2 {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.2); /* Temporary background color for debugging */
  z-index: 0;
}

.background2-section {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000000, #ffffff);
  z-index: 1;
}