.background2 {
  position: absolute; /* 🔥 same as Background1 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000, #fff);
  z-index: 1;
}


.background2-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
