.background3 {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 255, 0.2); /* Temporary background color for debugging */
  overflow: hidden;
  z-index: 0;
}

.background3::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  animation: animStar 50s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}